<%= form_with model: @tweet do |form| %>
  
  <% if @tweet.errors.any? %>
    <h2>Errors:</h2>
    <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= form.label :content, 'Mensaje' %>
    <%= form.text_area :content, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :image_url, "Url de Imagen" %>
    <%= form.text_field :image_url, class: "form-control" %>
  </div>
  <div class= "py-3">
    <%= form.submit "Crear", class: "btn btn-secondary" %>
  </div>
<% end %>



